body {
  margin: 0px;
  font-family: sans-serif;
}

/* home */
.home-outer {
  width: 100%;
  height: 99.85vh;
  display: flex;
  flex-wrap: wrap;
}
.home-left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.home-left-top {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding-left: 90px;
  font-size: 30px;
}
.home-left-bot {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.home-left-bot-item {
  width: 300px;
  height: 230px;
  background-color: lightgray;
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.img-top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-image: url("../src/assets/3.PNG");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
}

.img-add-to-cart {
  width: 30px;
  height: 30px;
  background-color: darkgray;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  color: white;
  position: relative;
  top: -10px;
  right: -10px;
  transition: 0.3s;
}
.img-add-to-cart:hover {
  background-color: orange;
  cursor: pointer;
}
.img-bot {
  width: 100%;
  height: 20%;
  margin-top: -45px;
  background-color: darkgray;
  display: flex;
  flex-wrap: wrap;
}
.img-bot-left {
  width: 70%;
  height: 100%;
  background-color: rgb(236, 236, 236);
  border-top: 1px solid rgb(199, 199, 199);
}
.img-bot-left-top,
.img-bot-left-bot {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
  color: rgb(109, 109, 109);
}
.img-bot-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: rgb(214, 214, 214);
  font-weight: bold;
}

/* home right */
.home-right {
  width: 30%;
  height: 100%;
  background-color: lightgray;
  position: fixed;
  right: 0px;
  z-index: 1;
  transition: 1s;
}
.home-right-top {
  width: 90%;
  height: 20%;
  border-bottom: 2px solid rgb(148, 148, 148);
  margin: 0 auto;
}
.home-right-middle {
  width: 90%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-right-middle-item {
  width: 100%;
  height: 80%;
  background-color: white;
  margin-top: 30px;
  overflow: auto;
}
.catch-id-box {
  width: 90%;
  height: 70px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-left: 15px;
}
.catch-id-box-price,
.catch-id-box-name,
.catch-id-box-type,
.catch-id-box-id {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
}
.catch-id-box-price {
  font-weight: bold;
}
.delete-item {
  position: relative;
  left: 345px;
  top: -73px;
  width: 20px;
  height: 20px;
  background-color: gray;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 50%;
  transition: 0.3s;
}
.delete-item:hover {
  background-color: orange;
  cursor: pointer;
}
.home-right-bottom {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.proceed-to-checkout {
  width: 90%;
  height: 60px;
  background-color: darkgray;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  border: none;
}
.proceed-to-checkout:hover {
  cursor: pointer;
}

/* checkout */
.checkout-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.checkout-left,
.checkout-right {
  width: 50%;
  height: 100%;
}
.checkout-left {
  background-color: lightgray;
}
.checkout-left-inner {
  width: 500px;
  height: 75%;
  background-color: darkgray;
  margin-left: 300px;
  margin-top: 100px;
}
.checkout-left-inner-top {
  width: 100%;
  height: 10%;
  outline: 1px solid black;
}
.checkout-left-inner-middle {
  width: 100%;
  height: 20%;
  outline: 1px solid black;
}
.checkout-left-inner-bottom {
  width: 100%;
  height: 70%;
  outline: 1px solid black;
}
.checkout-right {
  background-color: white;
}
.checkout-right-inner {
  width: 600px;
  height: 850px;
  background-color: darkgray;
  margin-left: 100px;
  margin-top: 100px;
}

.checkout-right-inner-top {
  width: 100%;
  height: 10%;
  outline: 1px solid black;
}
.checkout-right-inner-middle {
  width: 100%;
  height: 20%;
  outline: 1px solid black;
}
.checkout-right-inner-bottom {
  width: 100%;
  height: 70%;
  outline: 1px solid black;
}
@media screen and (max-width: 1740px) {
  .home-left-bot-item {
    width: 280px;
    height: 220px;
  }
}
@media screen and (max-width: 1660px) {
  .home-left-bot-item {
    width: 230px;
    height: 200px;
  }
}
@media screen and (max-width: 1450px) {
  .home-left-bot-item {
    width: 180px;
    height: 150px;
    margin: 30px;
  }
}
@media screen and (max-width: 1120px) {
  .home-left-bot-item {
    width: 180px;
    height: 150px;
    margin: 20px;
  }
}
